body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
}

/* Navbar */
.navbar {
    background: rgba(0,0,0,0.3);
    padding: 15px;
    text-align: center;
    font-size: 20px;
}

/* Container */
.container {
    text-align: center;
    margin-top: 80px;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.card {
    background: white;
    color: black;
    padding: 25px;
    border-radius: 15px;
    width: 220px;
    text-decoration: none;
    transition: 0.3s;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}

.card:hover {
    transform: translateY(-10px);
}

/* Form Page */
.form-container {
    text-align: center;
    margin-top: 80px;
}

input {
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #ff9800;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #ff5722;
}

.result-box {
    margin-top: 30px;
    background: rgba(255,255,255,0.2);
    padding: 20px;
    border-radius: 10px;
}
